
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  background-image: url("sky.jpg");
  background-size: cover;
 }


.App {
  margin: 30px auto;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 3px 15px #0000001a;
  overflow: hidden;
  min-height: 610px;
  background-color: rgb(255, 235, 235);
 
}

.main-title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Caveat';
  font-weight: 700;
  font-size: 40px;

}

span {
  font-size: 42px;
}

.new-task_block {
  text-align: center;
  margin-bottom: 15px;
}

.new-task {
  width: 380px;
  height: 45px;
  margin-right: 10px;
  font-family: 'Caveat';
  font-weight: 500;
  font-size: 22px;
  padding-left: 10px;
  border-radius: 8px;
  border: 1px solid gray; 
}

input.new-task:focus,
input.new-task:hover {
  border: 2px solid rgb(106, 105, 105); 
}

.new-task::placeholder {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: 16px;
  padding-left: 15px;
}

.task-wrap {
  display: flex;
  margin-bottom: 15px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: rgb(252, 200, 200);
  border-radius: 20px;
}

.checkbox {
  margin-left: 10px;
  width: 15px;
  margin-top: 5px;
}

.task-title,
.input-task-title {
  margin-left: 10px;
  width: 370px;
  height: 45px;
  font-family: 'Caveat';
  font-weight: 500;
  font-size: 22px;
  line-height: 45px;
  overflow: hidden;
  background-color: rgb(252, 200, 200);
  border: 1px solid pink;
}

.decor {
   text-decoration-line: line-through;
   text-decoration-thickness: 1.5px;
   text-decoration-color: rgb(68, 68, 68);

 }

p.task-title {
  line-height: 45px;
}

.button-close,
.button-edit {
  width: 30px;
  height: 35px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
  background-color:whitesmoke;
}

.button-close:hover,
.button-edit:hover,
.button-add:hover {
  background-color: rgb(242, 233, 242);
}

.button-close:active,
.button-edit:active,
.button-add:active {
  background-color: rgb(234, 220, 234);
}

.button-add {
  width: 70px;
  padding: 6px;
  border-radius: 10px;
  background-color:whitesmoke;
  border: 1px solid rgba(126, 126, 126, 0.6);
}

.button-all,
.button-private,
.button-job {
  width: 70px;
  padding: 6px;
  border-radius: 10px;
  background-color:whitesmoke;
  margin-left: 10px;
  margin-bottom: 15px;
  border: 1px solid rgba(126, 126, 126, 0.6);
}

.button-all:hover,
.button-private:hover,
.button-job:hover {
  background-color: rgb(242, 233, 242);
}

.button-all {
  margin-left: 20px;
}

.selected,
.button-all:active,
.button-private:active,
.button-job:active {
  background-color: rgb(234, 220, 234);
}


.link {
  text-decoration: none;
  color: black;
}

input:focus,
input:hover,
input:active,
input:visited,
input:focus-visible,
select:focus-visible {
  outline: none;
  border: none;
}

.select,
select:focus {
  margin-left: 115px;
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(126, 126, 126, 0.6);

}

